.root {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #382400;
  color: #ffffff;
  padding: 0 2rem;
  justify-content: space-between;
}
.users {
  justify-self: flex-end;
}